/*Made By BrianCDev*/


/*Body*/

body{
	
	background-color: black;

}

/*Close Body*/


/*Types Of TXT*/

#title {
	font-size: 150px;
	font-family: Helvetica;
	color: white;
	text-align: center;
	background-color: #252525;
	padding-bottom: 0px;
	margin: 0px 0px;
	
}

#subtitle{

	font-family: Helvetica;
	font-size: 55px;
	text-align: center;
	color: white;

	margin: 0px 120px;
	background-color: black;
	padding-top: 50px;
	padding-bottom: 25px;

}

#normaltxt{

	font-family: Helvetica;
	font-size: 18px;
	text-align: center;
}

/*Columns*/

#customnav {
	font-size: 30px;
	text-align: center;
	color: yellow;
	font-family: Helvetica;
	background-color: #252525;

	
	margin: 0px 0px;
	padding-top: 20px;
	padding-bottom: 20px;

}


#customdiv {

	font-size: 30px;
	text-align: center;
	color: yellow;
	font-family: Helvetica;

	background-color: black;
	margin: 0px 120px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin: 50px 0px;

}


#footcust {

	color: white;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica;

	background-color: #4A4A4A;
	padding-top: 100px;
	padding-bottom: 100px;

}

/*Links*/

a:link {
	color: yellow;
}

a:visited {
	color: yellow;
}

/*Cierre Links*/

/*Dont Forget Donate: bc1qsd5dsu0ppred033kvunt3882ezxyrupp3gu5gq*/


