/*Made By BrianCDev*/


/*Body*/

body{
	
	background-color: black;

}

/*Close Body*/


/*Types Of TXT*/

#title {
	font-size: 70px;
	font-family: Lucida Console;
	color: white;
	text-align: center;
	background-color: black;
	margin: 0px 120px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#subtitle{

	font-family: Lucida Console;
	font-size: 35px;
	text-align: center;
	color: white;

	margin: 0px 120px;
	background-color: black;
	padding-bottom: 25px;

}

#normaltxt{

	font-family: Lucida Console;
	font-size: 18px;
	text-align: center;
}

/*Columns*/

#customnav {
	font-size: 40px;
	text-align: center;
	color: yellow;

	background-color: black;
	margin: 0px 120px;
	padding-bottom: 40px;

}


#customdiv {

	font-size: 30px;
	text-align: center;
	color: yellow;

	background-color: black;
	margin: 0px 120px;
	padding-top: 20px;
	padding-bottom: 30px;
}

/*Links*/

a:link {
	color: yellow;
}

a:visited {
	color: yellow;
}

/*Cierre Links*/


